---
import Layout from "../../../layouts/Layout.astro";
import ContentBox from "../_components/ContentBox.astro";
---

<Layout>
    <h1 class="text-4xl font-bold text-center">Backend Frameworks</h1>
    <section class="mt-4">
        <p>Here are some backend frameworks I am familiar with:</p>
        <ContentBox>
            <ul>
                <li>Node.js (JavaScript Runtime)</li>
                <li>Deno (JavaScript Runtime)</li>
                <li>Bun.js (JavaScript Runtime)</li>
                <li>Express.js</li>
                <li>Fastify</li>
                <li>ASP.NET Core</li>
            </ul>
        </ContentBox>
    </section>
    <section class="mt-4">
        <p>Here are some backend frameworks I am learning:</p>
        <ContentBox>
            <ul>
                <li>Nest.js</li>
                <li>Django</li>
                <li>Gin Gonic</li>
                <li>Phoenix</li>
            </ul>
        </ContentBox>
    </section>
</Layout>