---
import Layout from "../../../layouts/Layout.astro";
import ContentBox from "../_components/ContentBox.astro";
---

<Layout>
    <h1 class="text-4xl font-bold text-center">Frontend Frameworks</h1>
    <section class="mt-4">
            <p>Here are some frontend frameworks I am familiar with:</p>
            <ContentBox>
                <ul>
                    <li>React</li>
                    <li>Vue.js</li>
                    <li>Astro.js</li>
                    <li>Next.js</li>
                    <li>React Native</li>
                </ul>
            </ContentBox>
    </section>
    <section class="mt-4">
        <p>Here are some frontend frameworks I am learning:</p>
        <ContentBox>
            <ul>
                <li>Angular</li>
                <li>Flutter</li>
            </ul>
        </ContentBox>
    </section>
</Layout>
