:root {
    --cyan: #0ff;
    --teal: #066;
    --blue: #00f;
    --navy: #006;
    --magenta: #f0f;
    --dark-magenta: #606;
    --yellow: #ff0;
}

* { margin: 0; }

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--navy);
    background-image: linear-gradient(160deg, var(--navy), var(--teal));

    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--yellow);
    transition: all 200ms;
}

a:hover { filter: drop-shadow(0 0 1rem var(--yellow)); }

.btn {
    width: fit-content;
    height: 35px;

    background-color: var(--navy);
    border: 2px solid var(--cyan);
    border-radius: 8px;

    color: #fff;
    font-weight: 600;

    transition: all 200ms;
}

.btn:hover {
    color: #000;
    background-image: linear-gradient(135deg, var(--cyan), var(--blue));
    cursor: pointer;
}

main {
    width: 100%;
    height: 87vh;
}

/*Cabeçálho*/
.header {
    padding-top: 10px;

    width: 100%;
    height: 8vh;

    display: flex;
    justify-content: space-between;

    background-color: #000;
    border-bottom: 4px solid var(--magenta);
}

#logo { width: 50px; }

#logo-link {
    color: var(--magenta);
    transition: all 200ms;
}

#logo-link:hover { filter: drop-shadow(0 0 1rem var(--magenta)); }

.nav { padding-top: 15px; }

.nav a {
    gap: 15px; 
    color: var(--magenta);
    transition: all 200ms;
}

.nav a:hover { filter: drop-shadow(0 0 1rem var(--magenta)); }

#btn-burger-menu { display: none; }

.burger-menu { display: none;}

@media (max-width: 720px) {
    .nav { display: none;}

    .active { display: flex; }

    #btn-burger-menu {
        width: 50px;
        height: 50px;

        display: block;

        transition: all 200ms;

        z-index: 11;
    }

    #btn-burger-menu:hover {
        cursor: pointer;
        filter: drop-shadow(0 0 1rem var(--cyan))
    }

    .burger-menu {
        top: 9vh;
        left: 70%;

        width: 25vw;
        height: 22vh;

        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        justify-content: space-around;

        align-items: center;

        background-color: #000;
        border: 4px solid var(--magenta);
        border-radius: 2px;

        z-index: 10;
    }

    .burger-menu a {
        padding-top: .5rem;

        gap: 15px;
        color: var(--magenta);
        transition: all 200ms;
    }

    .burger-menu a::after { padding-top: .5rem; }

    .burger-menu a:last-child::after { display: none; }

    .burger-menu a:hover { filter: drop-shadow(0 0 1rem var(--magenta)); }
}

/*Rodapé*/
.footer {
    width: 100%;
    height: 5vh;

    display: flex;
    justify-content: center;

    background-color: #000;
    border-top: 4px solid var(--magenta);
} 

/*Conteúdo*/
.container {
    margin: 0 auto;
    padding: 10px;

    width: 70vw;
    height: 85vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #0006;
}

.welcome-title, .about-title, .technologies-title { margin: 0 auto; }

#hello {
    font-size: 75px;
    font-weight: 800;

    background-image: linear-gradient(90deg, var(--magenta), var(--yellow));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: var(--magenta);
}

.welcome-content-row { padding-top: .5rem; }

.welcome-content-row::after {
    content: "";

    padding-top: .5rem;

    display: block;

    border-bottom: 1px solid #ddd;
}

.welcome-content-row:last-child::after { display: none; }

#about-me {
    font-size: 75px;
    font-weight: 800;

    background-image: linear-gradient(90deg, var(--yellow), var(--cyan));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: var(--yellow);
}

#technologies {
    font-size: 75px;
    font-weight: 800;

    background-image: linear-gradient(90deg, var(--blue), var(--cyan));
    background-clip: text;
    -webkit-text-fill-color: transparent;

    color: var(--cyan);
}

@media (max-width: 950px) {
    .container { width: 80vw; }

    #hello { font-size: 60px; }

    #about-me { font-size: 60px; }

    #technologies { font-size: 60px;}
}