---
import Layout from "../../layouts/Layout.astro";
import ContentBox from "./_components/ContentBox.astro";
---

<Layout>
    <h1 class="text-4xl font-bold text-center">Database & Data Engineering Tools</h1>
    <section class="mt-4">
        <p>Here are some database and data engineering tools I am familiar with:</p>
        <ContentBox>
            <ul>
                <li>PostgreSQL</li>
                <li>SQLite</li>
            </ul>
        </ContentBox>
    </section>
    <section class="mt-4">
        <p>Here are some database and data engineering tools I am learning:</p>
        <ContentBox>
            <ul>
                <li>MariaDB</li>
                <li>MongoDB</li>
                <li>Redis / Valkey</li>
                <li>Apache Kafka</li>
                <li>Apache Spark</li>
                <li>Apache Airflow</li>
            </ul>
        </ContentBox>
    </section>
</Layout>
