---
import Layout from "../../layouts/Layout.astro";
import ContentBox from "./_components/ContentBox.astro";
---

<Layout>
    <h1 class="text-4xl font-bold text-center">DevOps Tools</h1>
    <section class="mt-4">
        <p>Here are some DevOps tools I am familiar with:</p>
        <ContentBox>
            <ul>
                <li>Docker</li>
                <li>Git</li>
                <li>Cloudflare</li>
            </ul>
        </ContentBox>
    </section>
    <section class="mt-4">
        <p>Here are some DevOps tools I am learning:</p>
        <ContentBox>
            <ul>
                <li>Kubernetes</li>
                <li>Grafana</li>
                <li>AWS</li>
                <li>Google Cloud</li>
            </ul>
        </ContentBox>
    </section>
</Layout>