---
import Layout from "../../layouts/Layout.astro";
import ContentBox from "./_components/ContentBox.astro";
---

<Layout>
    <h1 class="text-4xl font-bold text-center">Programming Languages</h1>
    <section class="mt-4">
        <p>Here are some programming languages I am familiar with:</p>
        <ContentBox>
            <ul>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Python</li>
                <li>C/C++</li>
                <li>Lua</li>
                <li>C#</li>
            </ul>
        </ContentBox>
    </section>
    <section class="mt-4">
        <p>Here are some programming languages I am learning:</p>
        <ContentBox>
            <ul>
                <li>Go</li>
                <li>Rust</li>
                <li>Java</li>
                <li>Kotlin</li>
                <li>Elixir</li>
                <li>Dart</li>
            </ul>
        </ContentBox>
    </section>
</Layout>
